html, body {
  overflow: hidden; /* Отключение прокрутки */
  user-select: none; /* Отключение выделения текста */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  touch-action: none; /* Отключение длительного нажатия на телефоне */
  -webkit-touch-callout: none; /* Отключение длительного нажатия на телефоне для Safari */
}

.App {
  text-align: center;
  padding-bottom: 60px; /* чтобы контент не перекрывался навигацией */
}

.App-logo {
  height: 40vmin;
  pointer-events: none; /* Отключение копирования текста */
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Добавляем стили для темного и светлого режима */
.dark-mode {
  background-color: black;
  color: white;
}

.light-mode {
  background-color: white;
  color: black;
}

.loading-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  position: relative;
  overflow: hidden;
}

.loading-screen img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.loading-text {
  font-size: 1rem;
  color: white;
  position: absolute;
  bottom: 100px; /* Отодвигаем текст на 100px от нижнего края */
  z-index: 1; /* Устанавливаем текст выше изображения */
}
